#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 24px;
}

h3 {
    color: white;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-wrapper {
    max-width: 400px;
}
