#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 24px;
}

h3 {
    color: white;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 400px;
}

.demo-group {
    background-color: #333;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-wrapper {
    width: 100%;
}
