#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 24px;
}

h3 {
    color: white;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.demo-group {
    width: 100%;
    max-width: 400px;
    background-color: #333;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.input-wrapper .country-selector {
    flex: 1;
}

/* 選單寬度 */
.input-wrapper .country-selector__dropdown {
    min-width: 368px;
}

.input-wrapper .country-selector__trigger {
    flex: 1;
}

.phone-number {
    flex: 3;
    background-color: #ffffff;
    height: 100%;
    min-height: 40px;
    padding: 8px;
    border-radius: 4px;
    border: solid 1px #dedede;
}

.phone-number:hover,
.phone-number:focus {
    outline: none;
    border-color: #666666;
}
